
    <h4>Infrastructure: {{ infrastructure.id }}</h4>

    <table class="table">
        <tbody>

            <tr>
                <th>Site</th>
                <td>{{ infrastructure.site }}</td>
            </tr>
            <tr>
                <th>NomSvr</th>
                <td>{{ infrastructure.nomSvr }}</td>
            </tr>
            <tr>
                <th>OS</th>
                <td>{{ infrastructure.OS }}</td>
            </tr>
            <tr>
                <th>CPU_PROC</th>
                <td>{{ infrastructure.CPUPROC }}</td>
            </tr>
            <tr>
                <th>RAM</th>
                <td>{{ infrastructure.RAM }}</td>
            </tr>
            <tr>
                <th>TotalDisque</th>
                <td>{{ infrastructure.totalDisque }}</td>
            </tr>
            <tr>
                <th>DisqueUsed</th>
                <td>{{ infrastructure.DisqueUsed }}</td>
            </tr>
            <tr>
                <th>IP</th>
                <td>{{ infrastructure.IP }}</td>
            </tr>
            <tr>
                <th>HYPERV</th>
                <td>{{ infrastructure.HYPERV  }}</td>
            </tr>

            <tr>
                <th>Nominal</th>
                <td>{{ infrastructure.nominal }}</td>
            </tr>
        </tbody>
    </table>


