{% extends 'layouts/app.html.twig' %}

{% block title %}company interne{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
            <div class="card card-upgrade">
                <div class="card-header text-center">
                    <h4 class="card-title">Modifier Entreprise</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive table-upgrade">
                        {{ form_start(form) }}
                        <table class="table">
                            <tbody>
                            <tr>
                                <td>Nom de l'entreprise</td>
                                <td colspan="2" class="text-center">{{ form_widget(form.name, {'attr' : { 'class' : 'form-control'}}) }}</td>

                            </tr>
                            <tr>
                                <td>Email</td>
                                <td colspan="2" class="text-center">{{ form_widget(form.email,{'attr': {'class': 'form-control'}}) }}</td>

                            </tr>
                            <tr>
                                <td>date de creation</td>
                                <td colspan="2" class="text-center">
                                    <input type="text" class="form-control datetimepicker" value="{{ companyinterne. createdAt|date}}" disabled>
                                    </td>

                            </tr>
                            <tr>
                                <td>Adresse</td>
                                <td colspan="2" class="text-center">{{ form_widget(form.adresse,{'attr': {'class': 'form-control'}}) }}</td>

                            </tr>
                            <tr>
                                <td>Ville</td>
                                <td colspan="2" class="text-center">{{ form_widget(form.city,{'attr': {'class': 'form-control'}}) }}</td>

                            </tr>
                            <tr>
                                <td>Ville</td>
                                <td colspan="2" class="text-center">{{ form_widget(form.country,{'attr': {'class': 'form-control'}}) }}</td>

                            </tr>
                            <tr>
                                <td>Code Postal</td>
                                <td colspan="2" class="text-center">{{ form_widget(form.zipcode,{'attr': {'class': 'form-control'}}) }}</td>

                            </tr>
                            <tr>
                                <td>Logo</td>
                                <td colspan="2" class="text-center">
                                    <div class="form-group form-file-upload form-file-simple">
                                        <input type="text" class="form-control inputFileVisible" placeholder="logo" >
                                        {{ form_widget(form.imageFile, {'attr' : { 'class' : 'inputFileHidden'}} ) }}
                                    </div>
                                  </td>

                            </tr>
                            <tr>
                                <td colspan="3" align="center">
                                    <button type="submit" class="btn btn-fill btn-outline-success">{{ button_label|default('Modifier') }}</button>
                                    <button class="btn btn-fill btn-outline-danger">Annuler</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
